@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to the <a asp-controller="Trucks" asp-action="Index">truck listing</a> page.</p>
</div>
